body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
}
.header__logo-side {
    display: flex;
    align-items: center;
}
h1 {
   color: white;
   margin-left: 10px;
}
.input__button-container {
  display: flex;
  border: 1px solid;
  border-radius: 4px;
}
.inp {
    padding: 10px 30px;
}



